<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="input-group input-group-sm mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-sm">Type a word</span>
        </div>
        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" [(ngModel)]="wordInput">
      </div>
      <button (click)="addWord()" type="button" class="btn btn-primary btn-block">Add word<span class="caret pull-right"></span>
      </button>
      <button (click)="clearText()" type="button" class="btn btn-light btn-block">Clear<span class="caret pull-right"></span>
      </button>
      <div class="overflow-auto">
        <ul class="list-group">
          <li *ngFor="let w of words" class="list-group-item">{{w}}</li>
        </ul>
      </div>

    </div>
    <div class="col-md-9">
      <div class="form-group">
        <textarea class="form-control" rows="20" spellcheck=false style="font-size: 18px; font-family: 'DejaVu Sans Mono', monospace;">
          {{text}}
        </textarea>
      </div>
    </div>
  </div>
</div>
