/* You can add global styles to this file, and also import other style files */
.list-group{
    max-height: 300px;
    margin-bottom: 10px;
    overflow:scroll;
    -webkit-overflow-scrolling: touch;
}

textarea { resize:vertical; }

