
<div *ngIf="showAlert" class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <div  class="alert alert-success alert-dismissible fade show" role="alert">
      {{ alertMessage }}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>
  <div class="col-md-3"></div>
</div>



<div *ngIf="showLogin" class="container">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">

      <div class="form-group">
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter username" [(ngModel)]="userName">
          <small id="emailHelp" class="form-text text-muted">
              Enter a username, existing or new, to start your session
          </small>
      </div>
      <button (click)="login()" type="button" class="btn btn-primary btn-block">
          Start session<span class="caret pull-right"></span>
      </button>
    </div>
    <div class="col-md-3"></div>
  </div>
</div>

<router-outlet></router-outlet>

